body {
    padding-top: 30px;    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: lightblue;
    /* border: 2px solid black; */
}

#outside {
    background-color: rgb(155, 0, 0);
    width: 900px;
    height:800px;
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#Rcircle, #Lcircle {
    background-color: white;
    border: 4px solid rgb(196, 196, 196);
    height: 86px;
    width: 86px;
    border-radius: 86px;
}

#Rcircle {
    margin-right: 20px;
}

#Lcircle {
    margin-left: 60px;
}

/* div {
    border: 2px solid black;
} */

#middle {
    height: 600px;
    width: 600px;
    border: 0.5px solid black;
    display: flex;
    flex-wrap: wrap;
}

#test {
    background-color: lightgray; 
    width: 30px; 
    height: 30px;
}

.gridbox {
    border: 0;
}

#menu {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
}

#sizing{
    padding-left: 15px;
    text-align: center;
}

#currSize {
    margin: 0;
}

#slider {
    margin-left: 15px;
    width: 200px;
}

.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

#colorMenu {
    margin-right: 20px;
    
}

.color {
    height: 30px;
    width: 30px;
    margin: 5px;
    border: 0;
    border-radius: 30px;
    transition: transform .2s;
}

.color:hover {
    transform: scale(1.1);
}

#black {
    background-color: black;
}

#grey {
    background-color: grey;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

.selected {
    transform: scale(1.2);
}