body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}

/* div {
    border: 2px solid black;
} */

#middle {
    height: 600px;
    width: 600px;
    border: 0.5px solid black;
    display: flex;
    flex-wrap: wrap;
}

#test {
    background-color: lightgray; 
    width: 30px; 
    height: 30px;
}

.gridbox {
    border: 0;
}

#menu {
    width: 100%;
    padding: 15px;
    display: flex;
}

#clear {
    height: 25px;
    width: 50px;
    border-radius: 5px;
}

